services:
  ecommerce-app:
    build: .
    container_name: ecommerce-app
    ports:
      - "8080:8080"
    environment:
      DB_PASS: "${DB_PASS}"
      twilio_accountId: "${twilio_accountId}"
      twilio_authToken: "${twilio_authToken}"
      sendgrid_key: "${sendgrid_key}"
      google_clientId: "${google_clientId}"
      google_secret: "${google_secret}"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
    depends_on:
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
